/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 14px;
    line-height: 32px;
}
a, a:hover, a:active {
    color: black;
    text-decoration: none;
}
    

.dropdown {
    background-color: #fff;
    border: 0px #fff solid;
}
.btn-link, .btn-link:hover, .btn-link:visited, .btn-link:active, .btn-link:focus {
    color: #000;
    text-decoration: none;
}
.table th, .table td {
    border-top: #fff 0px solid;
}
.cell-right {
    text-align: right !important;
}
.filedrop {
    text-align: center;
    border: 1px #000 dotted;
}
.current {
    border: #000 1px solid;
    padding: 4px;
    box-sizing:content-box;
}
.upload_drop {
    background-color: #fff;
    border-radius: 0;
    border: 1px #000 dotted;
    font-size: 100%;
    width: auto;
}
.upload-button {
    display:none;
}
.inline {
    display:inline-block;
}
.active{
    font-weight: bold;
}
.hover {
    border: 1px #000 solid;
}
.scrollable {
    overflow: auto;
    height: inherit;
}

.search-results {
    display:none;
}
.sigma_search_textbox {
    border-radius:2px 0 0 2px !important;
}
.sigma_search_button {
    border-radius: 0 2px 2px 0 !important;
}
.sigma_search_results {
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width:82.7%;
    margin-top: -10px;
    border:#000 1px solid;
    border-top: #000 0px solid;
    border-radius:  1px 1px 0;
    z-index:999;
}
.search-x {
    display: none;
    visibility:hidden;
}
.input-prepend input {
    swidth: 100%;
    border: 0px #000 solid;
    background-color:transparent;
}
.input-prepend {
    border: 1px #000 solid;

    sborder-right: 0px #000 solid;
}

.input-prepend .add-on {
    background-color: #fff;
    border: 0px #000 solid;
}
.row_plus {
    background-color: #fff;
    border: #000 1px solid;
    height: 30px;
    width: 30px;
}
select.wfid_responsible {
    border: #000 1px solid !important;
    height: 30px;
}
.previous>a{
    border: 0px #000 solid !important;
}
.no-padding {
    min-height: 0 !important;
    height: 18px !important;
}
.inplace_textbox .label {
    background-color:transparent;
    color: #000;
    text-decoration:none;
    font-weight:normal;
    text-shadow: none;
    margin-top: -10px;
}
.vcard h1 {

    line-height: 1em;
}
h1 .inplace_textbox .label {
    font-weight:bold;
}
img.wfid_img_vcard {
    height: 150px;
}
.shorten-text {
    display:-webkit-box !important;
    overflow:hidden;
    iwidth:90%;
    text-overflow:ellipsis;
    iwhite-space: nowrap;
    -webkit-box-orient:vertical;
}

